* {
        border-radius: 2rem;

        --lightBackground: #e1bdac;
        --darkBackground: #be7554;
        --primaryBackground: #d3a590;
        --light: #ebebeb;

}

body {
    box-sizing: border-box;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    margin: 0;

}

.right {
        margin-top: 2rem;
}
.right h1, h3{
    text-align: center;
}

.selectContainer {
    display: flex;
    justify-content: center;
    margin: 2rem;
    height: 100%;
}

.select {
    background-color: var(--darkBackground);
    padding: 25px 10px;
    border-radius: 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 45vw;
    min-width: 290px;
    max-width: 400px;
    height: 170px;
}

.select label {
    display: block;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 24px;
    color: var(--light);
}

.select select {
    background-color: var(--light);
    width: 85%;
    padding: 12px 15px;
    border-radius: 10px;
    border: none;
    text-align: center;
    margin-bottom: 24px;
    box-shadow: rgb(178, 173, 173) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

}

.select button {
    background-color: var(--light);
    color: var(--darkBackground);
    padding: 12px 24px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
}

/* ------- */

.resultContainer {
    margin: 1rem;
}


#result {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--primaryBackground);
    min-width: 330px;
    gap: 2rem;
}

.mealTitle {
    width: 100%;
    text-align: center;
}
.mealImg {
    width: 30vw;
    min-width: 250px;
    max-width: 480px;
}

.ingredients, .instructions {
    background-color: var(--lightBackground);
    box-shadow: rgb(184, 141, 129) 3px 3px 6px 0px inset, rgba(255, 212, 190, 0.5) -3px -3px 6px 1px inset;
}

.ingredients {
    padding: 1rem 2rem 1rem 3rem;
    min-width: 218px;
    max-width: 240px;
}
.ingredients li {
    margin-bottom: 5px;
}

.instructions {
    width: 80%;
    padding: 1.5rem;
    margin-bottom: 3.5rem;
}

@media screen and (min-width: 800px){
    body {
            flex-direction: row;
    }
    .resultContainer {
    margin: 2rem;
}
}

/* fixa : så att result har bra padding i mobile, min-width på result för desktop

ge en mindre min width för img i mobile, se till att result och select har samma width. mer margin på result i mobile, tunn kan atm */
